.setting__input-label {
    font-weight: 500;
    background-color: var(--lighty-gray);
    border-radius: 1px;
}

.setting__input-label:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.setting__input-text {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.setting__input {
    padding: 0;
    min-width: 50px;
    font-size: 16px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 1px;
}

@media (min-width: 512px) {
    .setting__input {
        font-size: 26px;
    }
}

@media (min-width: 768px) {
    .setting__input {
        font-size: 30px;
    }
}



.button__reset,
.button__set-flour {
    border-radius: 3px;
}